# R artifacts
.Rhistory
.RData

# Intermediate data
rawdata/
processed_data/*.rds
processed_data/klips20w_x.dta
processed_data/klips_imerge.dta
processed_data/klips_imerge_long.dta
processed_data/klips_imerge_long1.dta
processed_data/klips_imerge_long2.dta
